@model IEnumerable<AgendaSalas.Models.Areas>

@{
    ViewBag.Title = "Areas";
}

<h3>Administración de Areas</h3>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-6">
            <a href="@Url.Action("Create", "Areas")" data-toggle="tooltip" title="Nuevo Area" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> Nuevo
            </a>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-1">
            <a href="@Url.Action("Menu", "Home")" data-toggle="tooltip" title="Volver al Menu" class="btn btn-default">
                <span class="glyphicon glyphicon-step-backward"></span> Atras
            </a>
        </div>
    </div>
</div>


<table id="areastab" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursales.DescSucursal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursales.DescSucursal)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Areas", new { id = item.IDArea })" data-toggle="tooltip" title="Editar Area" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="@Url.Action("Details", "Areas", new { id = item.IDArea })" data-toggle="tooltip" title="Detalles de Area" class="btn btn-default">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Areas", new { id = item.IDArea })" data-toggle="tooltip" title="Eliminar Area" class="btn btn-default">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('#areastab').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            },
            scrollY: '50vh',
            scrollCollapse: true,
            paging: false
        });
    });
</script>